.top-banner
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#225a7c+0,337ab7+100 */
	background: #225a7c; /* Old browsers */
	background: -moz-linear-gradient(top,  #225a7c 0%, #337ab7 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #225a7c 0%,#337ab7 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #225a7c 0%,#337ab7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#225a7c', endColorstr='#337ab7',GradientType=0 ); /* IE6-9 */
	height: 200px;
	padding: 40px 0px;
	width: 100%;
	color: #FFFFFF;
	margin-bottom: 20px;
}
.top-banner > div > p
{
	color: #ABC3D6;
	font-size: 18px;
}

.top-nav
{
	background-color: #FFFFFF;
	height: 40px;
}

.nav-right
{
	float: right !important;
	margin-right: -15px;
}
.nav-right > li
{
	float: right !important;
}

.nav
{
	float: left;
	margin: 0;
	width: 49%;
}
.nav > li
{
	float: left;
}
.nav > li > a
{
	color: #225A7C;
}
.nav > li.active > a
{
	font-weight: bold;
}

.row
{
	margin-bottom: 20px;
}

.btn-outline
{
	color: #337ab7;
	background-color: transparent;
	border-color: #337ab7;
	display: block;
}
.btn-outline:hover
{
	color: #FFFFFF;
	background-color: #337ab7;
}

.center
{
	text-align: center;
}

img.preview
{
	width: 100%;
}
img.contact-icon
{
	width: 100px;
}

a.contact-info
{
	display: inline-block;
}